.detail-book-container {
    display: flex;
    justify-content: center; /* Để căn giữa cả khối */
    align-items: flex-start; /* Để căn trên của phần thông tin */
    margin-top: 50px;
  }
  
  .image-section {
    margin-right: 50px; /* Tạo khoảng cách giữa hình ảnh và phần thông tin */
  }
  
  .book-image {
    width: 300px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px; /* Tạo góc bo cho ảnh */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tạo hiệu ứng bóng */
  }
  
  .info-section {
    display: flex;
    flex-direction: column; /* Đặt các thông tin theo chiều dọc */
    justify-content: center;
    max-width: 400px;
  }
  
  .book-title {
    font-size: 2rem;
    font-weight: bold;
    text-align: center; /* Căn giữa tiêu đề */
    margin-bottom: 20px;
  }
  
  .book-price {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .book-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  